[build]
  command = "npm run build"
  publish = "dist"
  environment = {
    NETLIFY_NEXT_PLUGIN_SKIP = true
  }

[[redirects]]
  from = "/api/*"
  to = "/api/index.js"
  status = 200

[[redirects]]
  from = "/*"
  to = "index.html"
  status = 200